@model Agenda.Models.Contacto

@{
    ViewData["Title"] = "Borrar Contacto";
}

<h1>Borrar Contacto</h1>

<h3>¿Está seguro que desea eliminar este contacto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Web):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Web)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />

     <input style="font-weight:bolder" type="submit" value="Eliminar" class="btn btn-danger" />

        <button style="margin:10px" type="button" class="btn btn-outline-secondary"><a style="text-decoration:none; color:black;" asp-action="Index">Volver a la Agenda</a></button>
    </form>
</div>
